<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLite.Net-PCL" version="3.0.0-beta" targetFramework="monoandroid22" userInstalled="true" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3" targetFramework="monoandroid22" userInstalled="true" />
  <package id="Xamarin.Forms" version="1.4.0.6341" targetFramework="monoandroid22" userInstalled="true" />
</packages>